.btn {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;

    width: 150px;
    height: auto;

    padding: 10px;
    border-radius: 6px;

    color: $--clr-white;
    background-color: $--clr-tertiary;

    &:hover {
        background-color: $--clr-btn-hover;
    }
}

.btn-tabs {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 207px;
    height: 45px;

    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: $--clr-white;

    border-radius: 24px;
    background-color: $--clr-alternative-2;
}

.btn-quoto {
    background-color: $--clr-secondary;
}

.popup {
    position: fixed;
    width: auto;
    height: auto;
    bottom: 40px;
    right: 25px;
    z-index: 1000;
}
