.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: auto;
    height: 340px;

    background-color: rgba(33, 20, 64, 0.93);

    .wrapper-footer {
        width: 1040px;
        height: 340px;

        background-color: #49268b;
    }
}

.container-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: auto;
    height: auto;

    background-color: $--clr-secondary;

    .wrapper-copyright small {
        font-family: $--font-secondary;
        font-weight: 400;
        font-size: 1rem;
    }

    .wrapper-copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 1040px;
        height: 50px;

        background-color: $--clr-secondary;
        color: $--clr-white;

        .footer-social a {
            text-align: center;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .wrapper-copyright small {
        padding-left: 5px;
        text-align: center;
    }
}
