.nav-container {
    display: flex;
    justify-content: center;

    height: auto;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;

    width: 1040px;
    height: 6rem;

    background-color: $--clr-secondary;

    .navegation {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 14.4rem;
        height: 6rem;

        font-weight: 700;
        font-size: $--font-24rem;
        line-height: 3rem;

        text-decoration: none;
        text-transform: capitalize;

        color: $--clr-white;

        &:hover,
        &:active {
            background-color: $--clr-tertiary;
        }
    }

    li.dropdown {
        display: inline-block;

        &:hover > .dropdown-content {
            display: block;
        }

        .service:hover {
            background-color: $--clr-tertiary;
        }

        .dropdown-content {
            display: none;
            position: absolute;

            min-width: 20rem;
            height: auto;

            background-color: $--clr-white;
            box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
            z-index: 1;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem 0 1rem 0;
                text-decoration: none;

                font-weight: 700;
                font-size: $--font-20rem;
                line-height: 2.5rem;

                color: $--clr-secondary;

                &:hover {
                    background-color: $--clr-tertiary;
                    color: $--clr-white;
                }
            }
        }
    }
}
