body header {
    font-family: --font-primary;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;

    width: 1440px;

    box-sizing: border-box;
}

.hidden {
    display: none;
}

.show {
    display: block;
}
