$--height-container: 700px;

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: auto;
    height: $--height-container;

    background-color: $--clr-primary;

    .container-about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        width: 1040px;
        height: $--height-container;

        background-color: $--clr-primary;

        .title-about {
            display: flex;
            text-align: center;
            padding: 10px;
            margin-top: 10%;

            font-family: $--font-tertiary;
            font-size: 3rem;
            line-height: 60px;

            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .border-bottom {
            position: relative;
            height: 0;
            width: 120px;

            top: 1px;

            border-radius: 26px;
            border-bottom: 8px solid $--clr-tertiary;
        }

        .text-about {
            display: flex;
            justify-content: center;
            text-align: center;
            text-justify: inter-word;

            padding: 40px 200px 0;

            font-family: $--font-secondary;
            font-size: $--font-24rem;
            line-height: 33px;
        }
    }
}
