$--height-container: 600px;

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: auto;
    height: $--height-container;

    background-color: $--clr-primary;

    .container-banner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: left;
        margin: 0 auto;

        min-width: 1040px;
        height: $--height-container;

        background-color: $--clr-primary;

        .wrapper-text-banner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;

            .text-banner {
                display: flex;
                align-items: center;

                font-family: $--font-primary;
                font-size: $--font-32rem;
                font-weight: 400;
                line-height: normal;

                color: $--clr-font;
            }
        }

        .responsive-bkg {
            display: flex;
            align-items: center;
        }
    }
}

.publi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 140px;
    margin: 0 auto;

    background-color: $--clr-secondary;

    .container-banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 135px;

        .text-publi {
            width: 520px;
            text-align: center;

            font-size: $--font-32rem;
            line-height: 40px;

            color: $--clr-white;
        }
    }
}
