@include section-default(rgb(168, 161, 161), 400px);

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: auto;
    height: 600px;

    background-color: $--clr-primary;

    .container-clients {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 1040px;
        height: 400px;

        background-color: $--clr-primary;
    }
}

.border-bottom {
    margin-bottom: 3rem;
}
