.top {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $--clr-background;
}

.wrapper-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 2rem;

    width: 1020px;

    background-color: $--clr-background;

    font-size: 1.6rem;

    .welcome {
        display: flex;
        align-items: center;
        text-align: center;

        font-family: $--font-tertiary;
        font-size: $--font-20rem;
        font-weight: 400;
        line-height: 2.5rem;
        color: $--clr-black;
    }

    .top-tools {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        gap: 1.5rem;
        width: auto;

        .language {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 0.8rem;
            gap: 0.4rem;

            background-color: $--clr-bg-language;
            border: 0.1rem solid #a9a9a9;
            box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 2.6rem;
        }

        .instagram,
        .facebook {
            display: flex;
            justify-content: center;
        }

        .orcamento {
            display: flex;
            align-items: center;
            height: 5rem;
            padding: 0 1.2rem;

            text-align: center;
            text-decoration: none;

            background: $--clr-tertiary;
            color: $--clr-white;

            font-family: $--font-secondary;
            &:hover {
                background-color: $--clr-btn-hover;
            }
        }
    }
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: auto;
}

.wrapper-mid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 1040px;
    height: auto;
    padding: 2.8rem 0;

    .left-mid {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo-text {
            width: auto;
            height: auto;
            padding-top: $--font-20rem;

            font-family: $--font-tertiary;
            font-size: 4.8rem;

            color: $--clr-black;
        }
    }

    .right-mid {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        .container-contact {
            display: flex;
            align-items: center;

            .text-tel,
            .text-time {
                font-size: $--font-16rem;
                font-weight: 700;
                line-height: 2rem;

                color: $--clr-font;
            }
            .text-email,
            .text-week {
                font-size: $--font-16rem;
                line-height: 2rem;
                text-transform: lowercase;

                color: $--clr-font;
            }
        }
    }
}
