//fonts
$--font-primary: "Arvo", serif;
$--font-secondary: "Open Sans", sans-serif;
$--font-tertiary: "Great Vibes", cursive;

//colors
$--clr-black: #1d1d1d;
$--clr-white: #ffffff;
$--clr-primary: #ffffff;
$--clr-secondary: #211440;
$--clr-tertiary: #602ed2;
$--clr-font: #092547;
$--clr-alternative-1: #3e2f60;
$--clr-alternative-2: #5a4a80;
$--clr-background: #e5e6e9;
$--clr-bg-language: #c9c5c5;
$--clr-btn-hover: rgba(147, 60, 216, 0.89);

$--clr-test1-bg: lightgray;
$--clr-test2-bg: gray;
